<h1>Sign In</h1>

<form class="" action="" method="post">
  <%= form_auth_token %>

  <label>Username:
    <input type="text" name="user[username]" value="">
  </label>

  <label>Password:
    <input type="text" name="user[password]">
  </label>

  <input type="submit" value="Log In">
</form>
